*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
.mvv-container{
	background:#000;
	height:150vh;
	color:#fff
}
.mvv-container .mvv-block{
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}
.mvv-container .mvv-block .image{
	flex: 0 0 auto;
	width: 400px;
}
.mvv-container .mvv-block .image img{
	width: 90%;
	border-radius: 5px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
}
.content h5{
	font-size: 20px;
	font-weight: heavy;
	color: #00bcd4;
}	
.aboutus{
	background:#000;
	color:#fff;
	text-align: center;
}
.aboutus h1{
	color: #00bcd4;
}
h1{
	color: #00bcd4;
}
.links ul{
	list-style-type: none;
	align-items: center;
	justify-content: center;
	padding: 0;
	display: flex;
}
.links ul img{
	width: 30%;
	border-radius: 15px;
}
.links ul li a{
	padding: 6px 13px;
}